blessed==1.22.0
browser-cookie3==0.20.1
certifi==2025.8.3
charset-normalizer==3.4.3
cloudscraper==1.2.71
commonmark==0.9.1
idna==3.10
jeepney==0.9.0
lxml==5.4.0
lz4==4.4.4
measurement==3.2.2
mpmath==1.3.0
myfitnesspal==2.1.2
pycryptodomex==3.23.0
Pygments==2.19.2
pyparsing==3.2.5
python-dateutil==2.9.0.post0
requests==2.32.5
requests-toolbelt==1.0.0
rich==12.6.0
six==1.17.0
sympy==1.14.0
typing_extensions==4.12.2
urllib3==2.5.0
wcwidth==0.2.14
